body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Post styling*/

.post {
  border: 2px solid grey;
  width: 70%;
}


/*Post Form submit styling */
#submit_form {
  text-align: center;
}

#submit_form > textarea {
  vertical-align: top;
}

/* comment styling */

.comment {
  left:50%;
  border: 2px solid green;
}

/* comment form styling*/

.comment_form {
  background-color: wheat;
  width:50%;
}